.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  list-style: none;
}

.container > .item {
  padding: 12px;
  height: 200px;
  cursor: pointer;
  background-color: yellow;
}
